* {
  background-size: cover;
}

h1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: #ffc1b8;
    text-shadow: .5px .5px white;

}

.login,
.sign-up {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
  padding: 20px;

  background: rgba(0, 0, 0, 0.5);

  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

p {
    color: #ffc1b8;
    text-shadow: .5px .5px white;
}



.AuthPage {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin;
}

.AuthPage h3 {
  margin-top: 4vmin;
  text-align: center;
  color: var(--text-light);
  cursor: pointer;
}
