html {
    /* height: 100%; */
  }
  body {
    margin:0;
    padding: 0;
    /* font-family: sans-serif; */
    /* background: linear-gradient(#141e30, #243b55);  */
  }

  h6 {
    color: white;
  }
  

  
 
  form label {
    color: #ffc1b8;
    text-shadow: .5px .5px white;
  }
  
  p.error-message {
    color: violet;
    text-align: center;
  }

  
   .button:hover {
    background: #ffc1b8;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ffc1b8,
                0 0 25px #ffc1b8,
                0 0 50px white,
                0 0 100px white;
  }
  
 
 .button {

 text-shadow: .5px .5px white;
color: #ffc1b8;
   background: #212529;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
 }

 button {

   text-shadow: .5px .5px white;
color: white;
   background: #212529;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
 }
 

 .auth-box {
   display: flex;

   margin: auto;
 }
  
  
  