.animes {
    display: flex;
    justify-content: center;
}



.switch {
    background-color: #fbc2c7;
    border-radius: 5%;
}

.profile {
    display: flex;
    justify-content: center;
}

.profile-nav {
    display: flex;
    justify-content: center;
}