

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: var(--tan-4); */
  /* margin-top: 10px; */
  padding: 2vmin;
  height: 100vh;
  /* background-image: url('https://cutewallpaper.org/21/pink-aesthetic-anime-wallpapers/1920x1080-Aesthetic-Anime-Wallpaper-Smokinwingsspartanburg.com.jpg'); */
  background-image: url('https://i.pinimg.com/originals/01/9e/ff/019effebf4db2ca7d99231b41c9c241b.jpg');
}

.info {
  text-shadow: .5px .5px white;
  color: #ffc1b8; 
  
}